version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis_channels
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
