version: "3.9"

services:
  django:
    build: .
    container_name: django_app
    command: >
      sh -c "
            python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py collectstatic --no-input --clear &&
            daphne -b 0.0.0.0 -p 8000 team_tasks_realtime.asgi:application"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - rabbitmq
    environment:
      - DJANGO_SETTINGS_MODULE=team_tasks_realtime.settings  

  redis:
    image: redis:7-alpine
    container_name: redis_channels
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    restart: always

  celery:
    build: .
    container_name: celery_worker
    working_dir: /app
    command: celery -A team_tasks_realtime worker --loglevel=info
    depends_on:
      - redis
      - rabbitmq
    environment:
      - DJANGO_SETTINGS_MODULE=team_tasks_realtime.settings
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=rpc://
    volumes:
      - .:/app

  celery_beat:
    build: .
    container_name: celery_beat
    working_dir: /app
    command: celery -A team_tasks_realtime beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      - redis
      - rabbitmq
    environment:
      - DJANGO_SETTINGS_MODULE=team_tasks_realtime.settings
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=rpc://
    volumes:
      - .:/app

volumes:
  redis_data:
